@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';

.root {
	width: 100%;
	background: $primary-color;
	position: relative;
	@include container;
}

.container {
	display: flex;
	align-items: center;
	height: 40px;
}

.link {
	display: flex;
	flex-direction: column;
	display: inline-block;
}

.description {
	color: rgb(37, 37, 37);
	font-weight: 600;
	font-size: 1.125rem;
}