@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";

.root {
	width: 100%;
	margin-bottom: 20px;
}

.container {
	@include container-xl;
	display: flex;
	align-items: center;
	height: 95px;
}

.link {
	display: flex;
	flex-direction: column;
	display: inline-block;
}

.description {
	color: $primary-color;
	font-weight: 600;
	font-size: 1.125rem;
}