@import '../../styles/mixins';
@import '../../styles/colors';

.root {
	@include container;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 30px;
}

.wrap {
	display: inline-block;
	width: calc(100% - 100px);
	position: relative;
	margin: 0 auto;
}

.arrow_button {
	background: rgba(#fff, .3);
	width: 40px;
	height: 40px;
	border-radius: 50px;
	margin-bottom: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 100ms linear;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	top: 0;
	background: #fff;
}

.image {
	overflow: hidden;
	border-right: none;
	padding: 0 60px;
	transition: 100ms linear;
	&:hover {
		opacity: 0.7;
	}
	@include _1300 {
		padding: 0 40px;
	}
	@include _1000 {
		padding: 0 20px;
	}
	@include _720 {
		padding: 0 10px;
	}
}