@import '../../styles/mixins';
@import '../../styles/colors';

.root {
	@include container-xl;
	position: relative;
	&:hover {
		.arrow_button {
			opacity: 1;
		}
	}
}

.arrow_button {
	position: absolute;
	background: rgba(#fff, .4);
	width: 50px;
	height: 50px;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 100ms linear;
	top: 50%;
	transform: translateY(-50%);
	z-index: 100;
	opacity: 0;
	svg {
		opacity: 0.5;
	}
	&:active {
		transform: scale(0.97) translateY(-50%);
	}
}

.arrow_button_prev {
	left: 60px;
}

.arrow_button_next {
	right: 60px;
}