@import '../../styles/colors';
@import '../../styles/mixins';

.root {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.title {
	font-size: 2rem;
	font-weight: 600;
	color: $text-color;
}

.characteristic {
	display: flex;
	align-items: center;
	justify-content: space-between;
}