@import '../../styles/colors';
@import '../../styles/mixins';

.root {
	font-size: 0.875rem;
	width: 100%;
	transition: 100ms linear;
	border-radius: 3px;
	font-weight: 600;
	height: 40px;
	background: $primary-color;
	&:hover {
		background: $primary-color-d1;
	}
	&:active {
		background: $primary-color-d2;
	}
}