@import '../../styles/colors';
@import '../../styles/mixins';

.root {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 40px;
	border-radius: 3px;
}

.cart_controll_button {
	width: 70px;
	height: 40px;
	font-size: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid $grey-color;
	font-weight: 600;
	transition: 100ms linear;
	&:hover {
		color: $primary-color-d1;
	}
	@include _560 {
		width: 40px;
		border-radius: 50px;
	}
}

.emptyBox {
	width: 70px;
	height: 40px;
}

.cart_controll_button.disabled {
	visibility: hidden;
}

.count_in_cart {
	font-weight: 600;
}
