@import '../../styles/colors';
@import '../../styles/mixins';

.root {
	position: absolute;
	right: 10px;
	top: 10px;
	display: flex;
	z-index: 100;
	gap: 10px;
}

.label_new_product {
	background: $red;
	color: $secondary-color;
	&:hover {
		background: $red-d1;
	}
	&:active {
		background: $red-d2;
	}
}

.label_promotion {
	background: $yellow;
	color: $text-color;
	&:hover {
		background: $yellow-d1;
	}
	&:active {
		background: $yellow-d2;
	}
}