@import '../../styles/colors';
@import '../../styles/mixins';

.root {
	position: relative;
	width: 100vw;
	height: 100vh;
}

.wrap {
	background: lighten($primary-color, 10%);
	position: absolute;
	top: 0;
	z-index: 1000000;
	left: 0;
	transform: translateX(-70%);
	width: 80%;
	height: 100vh;
	animation: fadeIn 100ms linear forwards;
	opacity: 0;
	padding: 30px 15px;
	display: flex;
	flex-direction: column;
	gap: 50px;
	overflow-y: auto;
}

.cartGroup {
	display: flex;
	flex-direction: column;
	gap: 15px;
	&__title {
		font-size: 1.125rem;
		font-weight: 600;
		color: #fff;
		letter-spacing: 0.03rem;
	}
}

.close {
	animation: fadeOut 200ms linear forwards;
}

.cart, .button_cart {
	width: 100%;
	padding: 15px;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 100ms linear;
	gap: 8px;
	font-size: 1.125em;
	font-weight: 500;
	color: $text-color;
	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.button_cart {
	background: rgb(238, 238, 238);
	&:active {
		color: $primary-color;
		background: lighten($primary-color, 40%);
	}
	&.disabled {
		pointer-events: none;
		opacity: 0.5;
	}
}

.button_cart_cart {
	&:active {
		color: $yellow;
	}
}

.button_cart_favorite {
	&:active {
		color: $red;
	}
}

@keyframes fadeIn {
	from {
		transform: translateX(-70%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		transform: translateX(0);
		opacity: 1;
	}
	to {
		transform: translateX(-100%);
		opacity: 0;
	}
}
