@import '../../styles/colors';
@import '../../styles/mixins';

.root {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background: $popup-cover-color;
	z-index: 2000;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	animation: fadeIn 0.1s linear forwards;
	backdrop-filter: blur(10px);
}

.content {
	position: relative;
	width: 100%;
	height: 100%;
}

.root.close {
	animation: fadeOut 0.1s linear forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0;		
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;		
	}
	100% {
		opacity: 0;
	}
}