@import "../../styles/colors.scss";

.root {
	flex-grow: 1;
	margin: 0 35px;
	position: relative;
	display: flex;
	z-index: 1100;
}

.root.focus {
	.button {
		background: $search-active-color;
	}
	.input {
		border-color: $search-active-color;
		background: $search-active-color;
	}
}

.input {
	flex-grow: 1;
	padding: 14px 18px;
	font-weight: 500;
	transition: 100ms linear;
	line-height: 20px;
	border: 2px solid $primary-color;
	border-right: none;
	background: $search-background-color;
	border-radius: 4px 0 0 4px;

	&::placeholder {
		color: $search-placeholder-color;
		font-size: 1.125rem;
		letter-spacing: 0.03rem;
		font-weight: 400;
	}
}

.button {
	transition: 100ms linear;
	background: $primary-color;
	padding: 4px 4px 4px 0;
	border-radius: 0 4px 4px 0;

	&:hover {
		background: $primary-color-d1;
		span {
			background: $primary-color-d1;
		}
	}

	&:active {
		background: $primary-color-d2;
		span {
			background: $primary-color-d2;
		}
	}
}

.button_wrap {
	background: $primary-color;
	padding: 0 28px;
	display: flex;
	align-items: center;
	height: 100%;
	transition: 100ms linear;
	border-radius: 4px;

	svg {
		color: $secondary-color;
		margin-bottom: 3px;
	}
}