@import "../../styles/colors.scss";

.root {
	flex-grow: 1;
	margin: 0 35px;
	border-radius: 4px;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.root.small {
	.input {
		padding: 10px 18px;
	} 
}

.input {
	flex-grow: 1;
	padding: 14px 18px;
	transition: 100ms linear;
	background: #fff;
	font-weight: 500;

	&::placeholder {
		color: #BBBBBB;
		font-size: 1.125rem;
		letter-spacing: 0.03rem;
		font-weight: 400;
	}
}

.button {
	background: $primary-color-d0;
	border: 1px solid $primary-color-d1;
	align-self: stretch;
	padding: 0 28px;
	transition: 100ms linear;

	svg {
		color: #fff;
	}

	&:hover {
		background: $primary-color-d1;
	}

	&:active {
		background: $primary-color-d2;
	}

	&:focus {
		background: $primary-color-d2;
	}
}