@import '../../styles/colors.scss';

.root {
	flex-grow: 1;
	margin: 0 35px;
	position: relative;
	display: flex;
	z-index: 1100;
}

.root.focus {
	.button {
		background: $search-active-color;
	}
	.input {
		border-color: $search-active-color;
		background: $search-active-color;
	}
	.category_label {
		border-color: $search-active-color;
		background: $search-active-color;
	}
}

.input {
	flex-grow: 1;
	padding: 10px 15px;
	font-weight: 500;
	transition: 100ms linear;
	line-height: 20px;
	border: 2px solid $primary-color;
	border-right: none;
	background: $search-background-color;
	border-radius: 4px 0 0 4px;
	font-size: 1rem;

	&::placeholder {
		color: $search-placeholder-color;
		letter-spacing: 0.03rem;
		font-weight: 400;
	}
}

.category {
	position: relative;
}

.category_label {
	transition: 100ms linear;
	border: 2px solid $primary-color;
	border-left: none;
	border-right: none;
	height: 100%;
}

.category_label_text {
	padding: 4px 0 4px 10px;
	width: 250px;
	margin-right: 10px;
	font-size: 0.875rem;
	text-align-last: left;
	color: $text-color;
	opacity: 0.7;
	border-left: 1px solid $grey-color;
	overflow: hidden;
}

.category_menu {
	width: 250px;
	position: absolute;
	top: calc(100% + 4px);
	left: 0;
	background: $secondary-color;
	border-radius: 4px;
	padding: 8px 0;
	box-shadow: 0 0 14px rgba(0,0,0,0.2);
	max-height: 400px;
	overflow-y: auto;
	animation: fadeIn 0.2s ease-in-out;
}

.category_menu_item, .category_menu_subitem {
	text-align: left;
	width: 100%;
	padding: 8px 10px;
	font-size: 0.875rem;
	&:hover {
		background: lighten($grey-color, 13%);
	}
}

.category_menu_item {
	font-weight: 500;
}

.category_menu_subitem {
	padding-left: 18px;
}

.button {
	transition: 100ms linear;
	background: $primary-color;
	padding: 4px 4px 4px 0;
	border-radius: 0 4px 4px 0;

	&:hover {
		background: $primary-color-d1;
		span {
			background: $primary-color-d1;
		}
	}

	&:active {
		background: $primary-color-d2;
		span {
			background: $primary-color-d2;
		}
	}
}

.button_wrap {
	background: $primary-color;
	padding: 0 28px;
	display: flex;
	align-items: center;
	height: 100%;
	transition: 100ms linear;
	border-radius: 4px;

	svg {
		color: $secondary-color;
		margin-bottom: 3px;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}