@import '../../styles/colors';
@import '../../styles/mixins';

.root {
	position: relative;
	width: 100vw;
	height: 100vh;
}

.wrap {
	background: #fff;
	position: absolute;
	top: 0;
	z-index: 1000000;
	left: 0;
	transform: translateX(-70%);
	width: 80%;
	height: 100vh;
	animation: fadeIn 100ms linear forwards;
	opacity: 0;
	padding: 30px 15px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	overflow-y: auto;
}

.close {
	animation: fadeOut 200ms linear forwards;
}

.title {
	font-size: 1.125rem;
	font-weight: 600;
}

.categories, .subCategories, .subSubCategories {
	display: flex;
	flex-direction: column;
}

.label {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.label__link {
	width: 100%;
	padding: 20px 20px;
	font-weight: 600;
	display: inline-block;
	color: $text-color;
	transition: 100ms linear;
	&:active, &:focus {
		color: $primary-color;
	}
}

.arrow {
	align-self: stretch;
	width: 60px;
	color: $search-placeholder-color;
	transition: 100ms linear;
	&:active, &:focus {
		color: $primary-color;
	}
	&.open {
		transform: rotate(180deg);
	}
}

.subCategories {
	.label__link {
		padding-left: 25px;
		font-weight: 500;
	}
}

.subSubCategories {
	.label__link {
		padding-left: 30px;
		font-weight: 400;
	}
}

@keyframes fadeIn {
	from {
		transform: translateX(-70%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		transform: translateX(0);
		opacity: 1;
	}
	to {
		transform: translateX(-100%);
		opacity: 0;
	}
}
