@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";

.root {
	position: relative;
}

.container {
	@include container-xl;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@keyframes toSticky {
	0% {
		height: 72px;
	}
	100% {
		height: 60px;
	}
}