@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";

.root {
	background: $primary-color;
}

.root.sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	.container {
		animation: toSticky 0.1s ease-in-out forwards;
	}
}

.container {
	@include container-xl;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
}

@keyframes toSticky {
	0% {
		height: 72px;
	}
	100% {
		height: 60px;
	}
}