@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";

.root {
	position: relative;
	background: $background-color;
}

.container {
	@include container-xl;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.root.focus {
	z-index: 1050;
}
