$h: 48;

$primary-color: hsl($h, 99%, 58%);
$secondary-color: #fff;
$text-color: #212121;

$primary-color-l1: hsl($h, 93%, 60%);
$primary-color-l2: hsl($h, 163%, 84%);

$primary-color-d0: hsl($h, 93%, 45%);
$primary-color-d1: hsl($h, 95%, 49%);
$primary-color-d2: hsl($h, 97%, 45%);

$search-background-color: $secondary-color;
$categories-background-color: $secondary-color;
$background-color: $secondary-color;
$search-active-color: $secondary-color;
$search-placeholder-color: #888785;
$navigation-icon-color: black;
$popup-cover-color: rgba(black, 0.5);
$grey-color: #ccc;

$red: #da4f4f;
$red-d1: #ce4949;
$red-d2: #c44444;
$blue: #4f87da;
$blue-d1: #4a7fce;
$blue-d2: #4777c0;